<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="kybersharp-local" value="../kybersharp/src/KyberSharp/bin/Release" />
    <add key="kyber-native-local" value="../kyber-nuget/test-pack-output" />
  </packageSources>
</configuration>
